@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header  */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  width: 100%;
  padding: 20px 200px;
}

.headerlogo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.headerlogo img {
  width: 86.041px;
  height: 40px;
}

.logotitle {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}

.logotitle span {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav .follow-icons {
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 20px;
  align-items: center;
}

.nav .follow-icons .icons {
  display: flex;
  gap: 16px;
}

.nav li,
a {
  text-decoration: none;
  list-style: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.fa-youtube {
  color: red;
}

/* Heading  */

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 0 200px;
}

.topsignup {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.topsignup p {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.topsignup h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

td {
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.headerimg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerimg img {
  width: 100%;
}

.btn {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.btn1 {
  display: flex;
  padding: 21px 40px;
  align-items: center;
  border-radius: 48px;
  border: none;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn2 {
  display: flex;
  padding: 21px 40px;
  align-items: center;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn1:hover {
  cursor: pointer;
  background: #3a90b4;
  border-radius: 48px;
}

.btn2:hover {
  cursor: pointer;
  background: #44acd8;
  border-radius: 48px;
}

/* Know-more  */

.know-more {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.know-more-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.know-more-image img {
  width: 100%;
}

.kn-more-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.kn-texttitle {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kn-ph {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
  width: 520px;
}

.btn3 {
  text-align: center;
  padding: 21px 40px;
  border-radius: 48px;
  border: none;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-bottom: 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn3:hover {
  border-radius: 48px;
  background: #d6388a;
  cursor: pointer;
}

.kn-ourperpos {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}

.kn-unlesh {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* apps-online  */

.apps-online {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 240px;
}

.ao-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.ao-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.ao-text {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 48px;
}

.gird-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
}

.gird-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.gird-container a {
  width: 230px;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.gird-container img {
  width: 100%;
  object-fit: contain;
  transition: all 0.4s ease-in-out;
}

.gird-container img:hover {
  filter: brightness(0.4);
}

.gird-container p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* App-adds  */

.app-adds {
  width: 100%;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.add1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add1text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.addtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0b0223;
  font-size: 48px;
}

.addtitle span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addph {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 353px;
  margin-top: 24px;
}

.add1 img {
  width: 100%;
}

/* add 2 styles */

.add2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.add1text2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.addtitle2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0b0223;
  width: 426px;
}

.addtitle2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addph2 {
  color: #534c64;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 483px;
  margin-top: 24px;
}

.add2 img.rotate-horizontally {
  transform: scaleX(-1);
}

/* Careers  */

.careers {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 200px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.careerstext-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.careertitle {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.careerph {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  white-space: nowrap;
  align-items: flex-start;
}

.listcard2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  white-space: nowrap;
  align-items: flex-end;
  text-align: end;
}

.lists li {
  width: 100%;
  list-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.btn4 {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  border-radius: 48px;
  background: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff42a5;
}

.btn4:hover {
  background: #dfdfdf;
  border-radius: 48px;
  cursor: pointer;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.careers .careerimage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.careers img {
  width: 100%;
  object-fit: cover;
}

/* reactanglebutton */

.reactanglebutton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 200px;
  gap: 27px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.rectbtn1,
.rectbtn2,
.rectbtn3,
.rectbtn4,
.rectbtn5,
.rectbtn6,
.rectbtn7,
.rectbtn8,
.rectbtn9 {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  padding: 10px 20px;
  gap: 30px;
}

.rectbtn1:hover,
.rectbtn2:hover,
.rectbtn3:hover,
.rectbtn4:hover,
.rectbtn5:hover,
.rectbtn6:hover,
.rectbtn7:hover,
.rectbtn8:hover,
.rectbtn9:hover {
  background: #e9e9e9;
}

.footer {
  width: 100%;
  height: 100%;
  background: #0b0223;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 200px;
}

.logotitle2 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.headerlogo2 {
  display: flex;
  align-items: center;
  margin-bottom: 66px;
  gap: 20px;
}

.logotitle2 span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footernav {
  display: flex;
  gap: 60px;
  margin-bottom: 56px;
}

.footernav li {
  list-style: none;
}

.footernav a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footericons {
  display: flex;
  gap: 40px;
  margin-bottom: 64px;
}

.footericons li {
  list-style: none;
}

.footericons a {
  color: #fff;
}

.footerterms {
  display: flex;
  gap: 60px;
  margin-bottom: 28px;
}

.footerterms li {
  list-style: none;
}

.footerterms a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.footertext p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
