@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: auto;
    width: 100%;
    padding: 38px 240px;
}


.headerlogo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.headerlogo img {
    width: 86.041px;
    height: 40px;
}

.logotitle {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700; 
}

.logotitle span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav .follow-icons{
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    align-items: center;
}

.nav .follow-icons .icons {
    display: flex;
    gap: 16px;
}

.nav li, a {
    text-decoration: none;
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.fa-youtube {
    color: red;
}

.topintro{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
}

.introtitle{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goadtext {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.topintrobox {
    background-image: url('../images/Group 14.png');
    background-position: left;
    background-repeat: no-repeat;
    padding: 120px 274px;
}


.topinrtoimage img {
    width: 100%;
}

.topintrobox p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 40px;
    align-items: center;
    text-align: left;
}

.btn {
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.btn1 {
    display: flex;
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn1 a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn2 {
    display: flex;
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}

.btn2 a {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .header{
        flex-direction: column;
        box-shadow: none;
        margin-top: 60px;
    }

    .nav ul {
        margin-top: 60px;
        flex-direction: column;
    }
    
    .nav .follow-icons{
        margin-top: 10px;
    }

    .topintro{
        flex-direction: column-reverse;
        padding: 0px 40px;
    }
    
    .topintrobox {
        background-size: 3rem 3rem;
        background-position: center;
    }

    .introtitle {
        font-size: 28px; 
    }

    .goadtext{
        font-size: 56px;
    }

    .topintrobox p {
        font-size: 12px;
        line-height: 20px;
    }

    .btn {
        margin-top: 25px;
        gap: 10px;
    }
    
    .btn1 {
        padding: 12px 20px;
    }
    
    .btn1 a {
        font-size: 10px;
    }
    
    .btn2 {
        padding: 12px 20px;
    }
    
    .btn2 a {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1252px) {
    .header{
        flex-direction: column;
        box-shadow: none;
        margin-top: 60px;
    }

    .nav ul {
        margin-top: 62px;
        flex-direction: column;
    }

    .nav .follow-icons{
        margin-top: 30px;
    }

    .topintro{
        flex-direction: column-reverse;
    }

    .topintrobox {
        background-size: 56rem 50rem;
        background-position: center;
    }
}